<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Novo produto</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <mat-form-field>
        <mat-label>Código</mat-label>
        <input matInput [(ngModel)] = "product.code">
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-form-field>
        <mat-label>Descrição</mat-label>
        <input matInput [(ngModel)] = "product.description">
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-form-field>
        <mat-label>R$ Valor Unitário</mat-label>
        <input matInput type="number" [(ngModel)] = "product.unit_price">
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-label>Tipo de produto</mat-label>
      <mat-select [(ngModel)]="product.id_product_type">          
        <mat-option *ngFor="let type of this.types" [value]="type.id"> {{ type.code }} - {{ type.description }} </mat-option>          
      </mat-select>
    </mat-form-field>

  </mat-card-content>

  <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSave()">Cadastrar</button>
  </mat-card-actions>
</mat-card>